.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top:20px;
  left:20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-heading
{
  position: absolute;
  top : 100px;
  text-align: center;
  marin:auto;
}
.App-output
{
  position: absolute;
  top : 100px;
  right:100px;
  marin:auto;
  width:300px;
  background-color: pink;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
